# Firebase
firebase-debug.log

# Logs
logs/
*.log

# OS-specific files
.DS_Store
.gitignore

# Environment variables
.env

# Client-specific
client/build/
client/node_modules/
client/npm-debug.log
client/firebase-debug.log
client/logs/
client/*.log
client/.DS_Store
client/.env

# Server-specific
server/node_modules/
server/npm-debug.log
server/firebase-debug.log
server/logs/
server/*.log
server/.DS_Store
server/.env
